body {
    background-color: #393424;
}
#prezzo {
    font-size: 4em;
    color: #61FF7E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #61FF7E;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}
#prezzo:hover {
    cursor: pointer;
    color: #54577C;
    border: 2px solid #54577C;
    transition: all 1s;
}